<div class="container">
  <h1>Friends</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sender</th>
        <th>Reciever</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @friendships.each do |friendship| %>
        <tr>
          <td><%= User.find(friendship.sent_by_id).email %></td>
          <td><%= User.find(friendship.sent_to_id).email%></td>
          <td><%= friendship.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New Friend Request", new_friend_path %>
</div>
