<div class="container">
<h2>Friend Request</h2>
  <div class="modal-content">
    <div class="modal-footer">
      <%= link_to 'accept_friend', friend_requests_path %>
        <button type="button" class="btn btn-accept text-white font-weight-bold"> <i class="fas fa-user-check"></i> Accept</button>

      <%= link_to 'decline_friend', friend_requests_path %>
        <button type="button" class="btn btn-decline text-white font-weight-bold"><i class="fas fa-user-times"></i> Decline</button>
    </div>
  </div>
</div>
  